body{
	font-family: Arial;
	font-size: 80%;
	padding: 10px;
	font-weight: bold;
	align-content: center;
}
body > h1{
	
	font-size: 175%;
	text-align: center;
	margin-bottom: 3%;
}
*{
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}
	
section{
	position: relative;
	
	border: 3px solid black;
	width: 30%;
	height: 39%;
	margin: 15px;
	padding: 35px 20px 15px 15px;
	
	background: gray;
	text-align: justify;
}
section > h2{
	position: absolute;
	top: -1%;
	left: 60.9%;
	
	width: 40%;
	height: 16%;
	border: 3px solid black;
	
	font-size: 125%;
	text-align: center;	
}
.section1{
	float: left;
	margin-left: 10px;
}
.section2{
	float: left;
}
.section3{
	float: left;
}
.title1{
	background: pink;
}
.title2{
	background: red;
	color: white;
}
.title3{
	background: yellow;
}

@media (min-width: 992px){
}
@media (min-width: 768px) and (max-width: 991px){
	section{
		width: 40%;
		
	}
	.section3 > h2{
		width: 19.9%;
		left: 80.5%;
	}
	.section1{
		margin-left: 8%;
	}
	.section3{
		margin-left: 8%;
		width: 84%;
	}
}
@media (max-width: 767px){
	body{
		font-size: 65%;
		padding: 5%;
		align-content: center;
	}
	.section1{
		margin-left: 10%;
	}
	section > h2{
		text-align: center;
		padding: 2px;
		font-size: 135%;

		height: 16%;
		left:  63.6%;
		width: 37%;
		height: 17%;

	}

	section{
		text-align: justify;
		width: 80%;
		height: 38.4%;
		margin-left: 10%;

	}
}